*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: sans-serif;
    color: #212529;
}

.box{
    width: 100%;
    height: 100vh;
    background-color: red;
    color: wheat;
    font-weight: bold;
    font-size: 100px;
}

.box::after{
    content: "Kobalja";
}

@media screen and (min-width: 576px) and (max-width: 750px){
    /*CSS 선언하면 된다.*/
    .box{
        background-color: violet;
    }

    .box::after{
        content: "Kobalja's Blog";
    }
}

@media screen and (min-width: 800px) {
    .box{
        background-color: yellowgreen;
    }

    .box::after{
        content: "반응형 웹이다.";
    }
}